.navItem{
  color: #fffce8;
  font-size: 20px;
  transition: all .3s;
  margin-bottom: 15px;
  a{
    color: #D3D3D3;
    text-decoration: none;
    transition: all .3s;
    display: inline-block;
  }
  .activeLink{
    transform: scale(1.2);
    color: #ffffff;
  }
}